@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

* {
  scrollbar-color: #232c42 transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #232c42;
  border-radius: 9999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
